.edit-user-background
  .container
    %h2.edit
      ユーザー情報編集画面
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field_edit
        = f.label :email, "メールアドレス", class: "edit_label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class:"edit_form"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field_edit
        = f.label :password, "新しいパスワード(最低6文字以上)", class: "edit_label"
        %br/
        = f.password_field :password, autocomplete: "new-password", class:"edit_form"
      .field_edit
        = f.label :password_confirmation,"新しいパスワード（確認）", class: "edit_label"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class:"edit_form"
      .field_edit
        = f.label :current_password, "現在のパスワード", class: "edit_label"
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class:"edit_form"
      .actions_edit
        = f.submit "変更する", class:"edit_btn"
    .user-edit-link
      %p.edit
        アカウントを削除したい場合はこちら
        #{button_to "ユーザー削除", registration_path(resource_name), data: { confirm: "本当によろしいですか??" }, method: :delete}
      = link_to "戻る", :back, class:"back_btn"