.mypage-container
  .mypage-container__flex
    = render partial: "left_menu"

    .right-profile
      .right-profile__header
        名前: #{current_user.name} さん
      %h2.right-profile__mentor あなたのメンター
      %ul.mentor-all
        %li.mentor-all__list
          .mentor-all__list__wrapper
            .mentor-name
              テストさん
            .mentor-icon
              
            .mentor-tags
              %ul
                - if @a_post.tag_list.first.present?
                  %li #{@a_post.tag_list.first}
                - if @a_post.tag_list.second.present?
                  %li #{@a_post.tag_list.second}
                - if @a_post.tag_list.third.present?
                  %li #{@a_post.tag_list.third}
            .mentor-fee
              テスト