= link_to post_path(post.id), method: :get, class: "card-link" do
  .mentor-card
    .mentor-card__top
      .mentor-info
        .mentor-info__face
          - if post.user.image.present?
            = image_tag post.user.image.url, class: 'icon'
          - else
            = image_tag "default-user-image", class: 'icon'
        .mentor-info__name
          = post.user.name
      .mentor-detail
        = post.title
    .mentor-card__bottom
      .mentor-card__bottom__tags
        タグ:
        %ul
          %li テスト
          %li テスト
          %li テスト
      .mentor-card__bottom__charge
        料金:
        .personal-fee
          = post.fee
      .mentor-card__bottom__score
        評価:
        .personal-score
          ☆☆☆☆☆
