= link_to post_path(post.id), method: :get, class: "card-link" do
  .mentor-card
    .mentor-card__top
      .mentor-info
        .mentor-info__face
          - if post.user.image.present?
            = image_tag post.user.image.url, class: 'icon'
          - else
            = image_tag "default-user-image.png", class: 'icon'
        .mentor-info__name
          = post.user.name
      .mentor-detail
        = post.title
    .mentor-card__bottom
      .mentor-card__bottom__tags
        タグ:
        %ul
          - if post.tag_list.first.present?
            %li #{post.tag_list.first}
          - if post.tag_list.second.present?
            %li #{post.tag_list.second}
          - if post.tag_list.third.present?
            %li #{post.tag_list.third}
      .mentor-card__bottom__charge
        料金:
        .personal-fee
          = post.fee
      .mentor-card__bottom__score
        評価:
        .personal-score1{ id: "star-rate-#{post.user.id}" }
        .personal-score #{post.user.reviews.average(:rate).to_f.round(1)}
        .personal-score (#{post.user.reviews.count}件)

        :javascript
          $('#star-rate-#{post.user.id}').raty({
            size     : 32,
            starOff:  '#{asset_path('star-off.png')}',
            starOn : '#{asset_path('star-on.png')}',
            starHalf: '#{asset_path('star-half.png')}',
            half: true,
            readOnly: true,
            score: "#{post.user.reviews.average(:rate).to_f.round(1)}",
          });
