%header.header
  .header__menu
    .lists
      = link_to "G-MEN", root_path, class: "logo-link"
      .logo-home
        ゲーミングメンターサービス
  .header__search
    .header__search__box
      %input.header__search__box__input{name: "key", 
      placeholder: "タグで検索", value: ""}
      %botton{ class:"header__search__box__botton",type: "submit" }
        .header__search__box__botton__img
          = image_tag "icon-search 1.png", class: "header__search__box__botton__img__icon"

  .header__right
    - if user_signed_in?
      .header__right__wrapper
        .header__right__menu
          = link_to "投稿をする", new_post_path, class: "header__right__menu-btn"
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right__menu-btn"
        .header__right__user-name
          = link_to "#{current_user.name}さんのマイページ", user_path(current_user), class: "header__right__user-name__link"

    - else
      .header__right__menu
        = link_to "新規登録", new_user_registration_path, class: "header__right__menu-btn"
      .header__right__menu
        = link_to "ログイン", new_user_session_path, class: "header__right__menu-btn"
= render 'layouts/notifications'