= render partial: "top-header"
.new-post-page
  .content__title
    メンター記事の作成
  .content__form
    = form_with model: @post, class: :form, local: true do |form|
      = form.text_field :title, placeholder: :アピール文, class: :form__title
      = form.text_area :content, placeholder: :得意ジャンルや指導内容など, class: :form__text
      = form.text_field :fee, placeholder: :料金, class: :form__fee
      = form.submit '投稿する', class: :form__btn
= render partial: "top-footer"
