<div class="show-post-page">
  <div class="user-profile">

    <div class="user-profile__icon">
      <div class="user-profile__icon__cover">
      </div>
      <%= image_tag 'sutehage', class: 'user-profile__icon__show' %>
    </div>
    <div class="user-profile__info">
      <div class="user-profile__info__name">
        名前: <%= @post.user.name %>
      </div>

      <div class="user-profile__info__fee">
        料金: <%= @post.fee %>
      </div>
      <div class="user-profile__info__score">
        評価: ★★★★★(10)
      </div>
    </div>
  </div>
  <div class="user-appeal">
    <div class="post__title">
      <%= @post.title %>
    </div>
    <div class="post__content">
      <%= simple_format @post.content %>
    </div>
  </div>
</div>